.history
node_modules
npm-debug.log

/dist
/build
packages/**/*.js
packages/**/*.js.map
packages/eez-studio-ui/_stylesheets/main.css

electron-builder.yml
electron-builder-mac.yml

installation/make-electron-builder-yml.js
installation/extra-resources

tools/freetype-tools/agg-2.5
tools/freetype-tools/FreeType-Emscripten

/TODO.txt

.DS_Store

**/*.eez-project-ui-state
**/*.eez-project-runtime-settings

# nix build
/result*

bundle-meta.json
circular.txt

wasm/eez-runtime/build
!packages/project-editor/flow/runtime/eez_runtime.js

wasm/lvgl-runtime/v8.3/build
!packages/project-editor/flow/runtime/lvgl_runtime_v8.3.js

wasm/lvgl-runtime/v9.0/build
!packages/project-editor/flow/runtime/lvgl_runtime_v9.0.js

wasm/lz4/build
!packages/project-editor/flow/runtime/lz4.js

npm-module/packages
npm-module/libs
npm-module/resources

tools/pubdoc/build
tools/eez-framework-amalgamation/build
tools/lvgl-api/build

.env
