.history
eezstudio-linux-x64
eezstudio-win32-x64
eezstudio-darwin-x64
node_modules
npm-debug.log

dist
packages/**/*.js
packages/**/*.js.map
packages/eez-studio-ui/_stylesheets/main.css

installation/build-installation.js
installation/build-installation.js.map
installation/build-installation-new.js
installation/build-installation-new.js.map
installation/extra-resource.js
installation/extra-resource.js.map

tools/freetype-tools/agg-2.5
tools/freetype-tools/FreeType-Emscripten

TODO.txt

.DS_Store

builder-output

**/*.eez-project-ui-state
