#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Name[en_US]=EEZ Studio
Exec=./eezstudio-linux-x64/eezstudio
Name=EEZ Studio
Icon=./packages/eez-studio-ui/_images/eez_logo.png
