.EezStudio_ShortcutsTable {
    th.colColor {
        background-position: 12px center;
    }

    .colAction {
        white-space: normal;
        pre {
            margin-bottom: 0;
        }
    }

    .colColor {
        div {
            display: inline-block;
            width: 24px;
            height: 24px;
            border-radius: 4px;
        }
        padding-right: 0;
    }
}

.EezStudio_ShortcutsTable,
.EezStudio_GroupsTable {
    .colActions {
        white-space: nowrap;
    }
}
